# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Coverage / pytest
.coverage
htmlcov/
.pytest_cache/

# OS/editor
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
